@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:not(.inline-block) {
  @apply font-semibold underline decoration-dotted underline-offset-4;
}

.dark a:not(.inline-block) {
  @apply decoration-neutral-500;
}
