---
import Layout from '../layouts/Layout.astro';
---

<Layout title='404 Not Found'>
    <main>
        <div class='flex min-h-screen items-center justify-center p-6 md:flex'>
            <div class='text-center'>
                <h1 class='mb-12 text-9xl font-semibold'>404</h1>

                <p class='mb-4'>
                    This page doesn't exist, or if it did - it doesn't anymore.
                </p>

                <a href='/'>Back to the home page</a>
            </div>
        </div>
    </main>
</Layout>
