---
interface Props {
    href: string;
    svg: string;
    label: string;
}

const { href, svg, label } = Astro.props;
---

<span class='[&:not(:first-child)]:ml-3.5'>
    <a
        class='inline-block border-0 text-gray-500 hover:text-gray-700 dark:text-gray-300 dark:hover:text-gray-100'
        href={href}
        target='_blank'
    >
        <svg
            role='img'
            aria-label={label}
            class='inline-block fill-current'
            xmlns='http://www.w3.org/2000/svg'
            version='1.1'
            xmlns:xlink='http://www.w3.org/1999/xlink'
            viewBox='0 0 512 512'
            height='24'
            width='24'
        >
            <g transform='matrix(1,0,0,1,0,0)'>
                <path
                    d={svg}
                    stroke='none'
                    stroke-width='0'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
            </g>
        </svg>

        <span
            class='ml-0.5 hidden align-middle text-xs font-semibold sm:inline-block'
        >
            {label}
        </span>
    </a>
</span>
