name: linter

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: write

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm install

      - name: Prettier
        run: npm run format

      - name: ESLint
        run: npm run lint
